


.header{
    position:relative; padding-bottom: 250px;
   bottom: 900px;
}

.item{
    position:relative;  padding-bottom: 250px;
    bottom: 1300px;  left: 500px;
}
 
.middle{
    position:relative;  padding-bottom: 250px;
    bottom: 1100px;  left: 200px;
}

.item3{
    font-size: 333;
    position:relative;  padding-bottom: 250px;
    bottom: 1200px;  left: 1200px;
}

h4{
    font-family: monospace;
    font-size: 33px;
  }

.grid{
    padding-top: 10px;
    padding-left: 350px;
}


